.App {
  text-align: center;
}

.container{
  margin: 0 auto;
  max-width: 58vw;
  height: 100vh;
  /* background-color: rgba(133, 53, 53, 0.219); */
}
.flex-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .container{
    
    max-width: 80vw;
  
  }
}
@media screen and (max-width:425px) {
  .container{
    
    max-width: 90vw;
  
  }
  
}